
body {
    background-color: rgb(52,123,152,0.04);
    color: #347B98;
    font-family: Spectral, serif;
}

h1 h2 h3 h4 h5 h6 {
    font-family: Rubik, sans-serif;
}

.mw-bg-1 {
    background-color: rgb(228,222,142,0.8);
}

.mw-bg-2 {
    background-color: rgb(128,128,128,0.8);
}

.mw-bg-3 {
    background-color: rgb(52, 123,152,0.8);
}

/* Home tab */
.mw-home-describe {
    padding-top: 0px;
    font-size: 1.5em;
    line-height: 1.5;
}

.mw-home-image-caption {
    width: 300px; /*To maintain text position */
    padding-bottom: 30px;
    padding-left: 30px;
    font-size: 22px;
    font-weight: 600;
}

@media only screen and (min-width:600px) {
    .mw-home-image-caption {
        float: left;
        width: 1px;
        padding-left: 25px;
        font-size: 26px;
        letter-spacing: 5px;
        white-space: nowrap;
        text-transform: uppercase;
        transform: translate(1.5em, 0px) rotate(90deg);
        transform-origin: top left;
    }
}

@media only screen and (min-width:768px) {
    .mw-home-describe {
        padding-top: 120px;
        font-size: 1.8em;
        line-height: 1.8;
    }

    .mw-home-image-caption {
        width: 10px;
        padding-bottom: 5px;
        padding-left: 25px;
        font-size: 26px;
        letter-spacing: 5px;
        white-space: nowrap;
        text-transform: uppercase;
        transform: translate(1.5em, 0px) rotate(90deg);
        transform-origin: top left;
    }
}

@media only screen and (min-width:1200px) {
    .mw-home-describe {
        padding-top: 140px;
        line-height: 2;
        font-size: 2em;
    }

    .mw-home-image-caption {
        width: 1px;
        padding-bottom: 5px;
        padding-left: 25px;
        font-size: 26px;
        letter-spacing: 5px;
        white-space: nowrap;
        text-transform: uppercase;
        transform: translate(1.5em, 0px) rotate(90deg);
        transform-origin: top left;
    }
}

/*CV tab */
.mw-cv-title {
    text-align: center;
    background-color: rgb(52, 123,152);
    color: rgb(228,222,142);
}

.mw-cv-button-style {
    border-radius: 8px;
    border: 2px solid gray;
    font-weight: 600;
    background-color: inherit;
    color: black;
}

.mw-cv-attribute-style {
    margin:auto;
    text-align: center;
    font-size: 16px;
    letter-spacing: 3px;
    color: black;
}

.mw-cv-profile-text {
    width: 70%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 2;
}

.mw-cv-card-title {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 2px solid grey;
    background-color: rgb(126,126,126,0.4);
}

.mw-cv-card-text {
    padding: 10px;
    border-bottom: 1px solid grey;
    background-color: rgb(255,255,255,0.4);
}

@media screen and (max-width:600px) {
    .mw-cv-profile-text {
        width: 90%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        line-height: 2;
        text-align: center;
    }
}

/*CV tab timeline*/
.mw-cv-timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background-image: linear-gradient(rgb(228,222,142,0.4), rgb(52, 123,152,0.4));
}

    .mw-cv-timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: grey;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: 3px;
    }

.mw-cv-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

    .mw-cv-container::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -18px;
        background-color: white;
        border: 5px solid black;
        top: 25px;
        border-radius: 50%;
        z-index: 1;
    }

.mw-cv-left {
    left: 0;
}

.mw-cv-right {
    left: 50%;
}

.mw-cv-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 27px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.mw-cv-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 27px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.mw-cv-right::after {
    left: -7px;
}

.mw-cv-experience {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    text-align: center;
    box-shadow: 5px 5px 15px black;
}

@media screen and (max-width: 600px) {
    .mw-cv-timeline::after {
        left: 17px;
    }

    .mw-cv-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

        .mw-cv-container::before {
            left: 60px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }

    .mw-cv-left::after, .mw-cv-right::after {
        left: 11px;
    }

    .mw-cv-right {
        left: 0%;
    }
}
/*CV tab timeline ends*/

/*Skills tab*/
.mw-skills-title {
    font-size: 32px;
    text-align: center;
    padding: 5px;
    color: black;
}

.mw-skills-container {
    max-width: 100%;
    margin-bottom: 3%;
}

.mw-skills-introtext {
    font-size: 22px;
    padding: 10px;
    text-align: center;
}

.mw-skills-bar {
    max-width: 800px;
    background-color: rgb(228,222,142,0.4);
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    border-radius: 25px 10px 25px 10px;
}

.mw-skills-bar-title {
    text-align: center;
    margin-bottom: 3px;
}

.mw-skills-bar-text {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    font-size: 10px;
}

.mw-skills-bar-description {
    margin-bottom: 20px;
    color: grey;
    width: 90%;
    margin-left: auto;
    margin-right: 0px;
}

.mw-skills-bar-button {
    border: none;
    background-color: inherit;
    text-shadow: 1px 1px 5px rgb(228,222,142,1);
    margin-bottom: 6px;
    margin-top: 12px;
}

.mw-skills-10 {
    width: 10%;
    background-color: #EA4335;
    border-radius: 25px 10px 25px 10px;
}

.mw-skills-20 {
    width: 20%;
    background-color: #EA4335;
    border-radius: 25px 10px 25px 10px;
}

.mw-skills-30 {
    width: 30%;
    background-color: #FBBC05;
    border-radius: 25px 10px 25px 10px;
}

.mw-skills-40 {
    width: 40%;
    background-color: #FBBC05;
    border-radius: 25px 10px 25px 10px;
}

.mw-skills-50 {
    width: 50%;
    background-color: #FBBC05;
    border-radius: 25px 10px 25px 10px;
}

.mw-skills-60 {
    width: 60%;
    background-color: #34A853;
    border-radius: 25px 10px 25px 10px;
}

.mw-skills-70 {
    width: 70%;
    background-color: #34A853;
    border-radius: 25px 10px 25px 10px;
}

.mw-skills-80 {
    width: 80%;
    background-color: #34A853;
    border-radius: 25px 10px 25px 10px;
}

.mw-skills-90 {
    width: 90%;
    background-color: #34A853;
    border-radius: 25px 10px 25px 10px;
}

.mw-skills-100 {
    width: 99%;
    background-color: #34A853;
    border-radius: 25px 10px 25px 10px;
}

@media only screen and (max-width:600px) {
    .mw-skills-title {
        font-size: 24px;
        text-align: left;
    }

    .mw-skills-introtext {
        font-size: 14px;
        padding: 0px;
        text-align: center;
    }
}

/*Contact tab*/

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: rgb(228,222,142,0.2);
}

input[type=submit] {
    background-color: rgb(52,123,152);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: black;
    }

.mw-contact-form {
    background-color: rgb(128,128,128,0.1);
    padding: 60px;
    margin-top: 30px;
}

.mw-contact-container {
    border-radius: 5px;
    padding: 20px;
}

.mw-contact-title {
    font-size: 40px;
    padding-left: 10%;
    padding-top: 180px;
    padding-bottom: 20px;
    color: black;
}

.mw-contact-bg {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 75px;
    left: 0;
    background-color: rgb(52,123,152,0.7);
    z-index: -1;
}

@media only screen and (max-width:600px) {
    .mw-contact-form {
        background-color: inherit;
        width: 100%;
        padding: 0px;
    }

    .mw-contact-title {
        font-size: 50px;
        padding-left: 10%;
        color: black;
    }
}
